  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới Nhân Viên

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Nhân Viên</a></li>
        <li><a ui-sref="employees">Danh sách</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddEmployee" role="form" ng-submit="AddEmployee()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên nhân viên</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="employee.Name">
                        <span ng-show="frmAddEmployee.name.$invalid" class="has-error">Phải nhập tên nhân viên</span>
                        <span ng-show="frmAddEmployee.name.$error.maxlength" class="has-error">Tên nhân viên chỉ được 256 ký tự</span>

                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ngày Sinh</label>
                    <div class="col-sm-3">
                        <datepicker date-format="dd-MM-yyyy" selector="form-control" >
                            <input type="text" class="form-control" name="birthday" required ng-model="employee.BirthDay" placeholder="Chọn ngày..."/>
                            <span class="input-group-addon" style="cursor: pointer">
                                <i class="fa fa-lg fa-calendar"></i>
                            </span>
                        </datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Chức vụ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="position" ng-maxlength="500" ng-model="employee.Position" >
                        <span ng-show="frmAddEmployee.position.$error.maxlength" class="has-error">Mô tả chỉ được 500 ký tự</span>
                        <span ng-show="frmAddEmployee.position.$invalid" class="has-error">Phải nhập chức vụ</span>                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nơi ở:</label>
                    <div class="col-sm-10">
                        <select name="province" class="form-control" data-ng-model="employee.ProvinceId" selected="employee.ProvinceId" data-ng-options="c.ProvinceId as c.Name for c in provinces" data-ng-change="loadCounty(employee.ProvinceId)">
                            <option value="">-- Chọn Tỉnh --</option>
                        </select>
                        <span ng-show="frmAddEmployee.province.$error.required">Chọn Tỉnh/Thành </span>
                    </div>
                    <br />
                    <label for="inputEmail3" class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                    <select class="form-control" ng-model="employee.CountyId" data-ng-options="s.CountyId as s.Name for s in counties">
                        <option value="">-- Chọn Huyện/Phường --</option>
                    </select>
                        </div>
                </div>
               
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="avartar" ng-model="employee.Avartar">
                        <span ng-show="frmAddEmployee.avatar.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                        <button type="button" class="btn btn-default" ng-click="ChooseImage()">Chọn ảnh</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Giới thiệu chung</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="introduce" ckeditor="ckeditorOptions" ng-model="employee.Introduce"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Lương</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="salary" required ng-model="employee.Salary">
                        <span ng-show="frmAddEmployee.salary.$invalid" class="has-error">Phải nhập lương</span>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="product_categories" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddEmployee.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->