  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Quận/Huyện
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Nhân Viên</a></li>
        <li><a ui-sref="counties">Danh sách</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddCounty" role="form" ng-submit="AddCounty()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên Quận/Huyện</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="county.Name">
                        <span ng-show="frmAddCounty.name.$invalid" class="has-error">Phải nhập tên Quận/Huyện</span>
                        <span ng-show="frmAddCounty.name.$error.maxlength" class="has-error">Tên Quận/Huyện chỉ được 256 ký tự</span>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên Tỉnh/Thành</label>
                    <div class="col-sm-10">
                        <select name="province" class="form-control" ng-model="county.ProvinceId" selected="county.ProvinceId" ng-options="c.ProvinceId as c.Name for c in provinces">
                            <option value="">-- Chọn Tỉnh/Thành --</option>
                        </select>
                        <span ng-show="frmAddEmployee.province.$error.required">Thuộc Tỉnh/Thành </span>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="countys" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddCounty.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->