  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm Tỉnh/Thành

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#">Nhân Viên</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddProvince" role="form" ng-submit="AddProvince()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên Tỉnh/Thành</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="province.Name">
                        <span ng-show="frmAddProvince.name.$invalid" class="has-error">Phải nhập tên Tỉnh/Thành</span>
                        <span ng-show="frmAddProvince.name.$error.maxlength" class="has-error">Tên Tỉnh/Thành chỉ được 256 ký tự</span>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="provinces" class="btn btn-default">Hủy</button>
                <button type="submit" ng-disabled="frmAddProvince.$invalid" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->